@model MySkills.Models.Education

<div class="container theme-showcase" role="main">
    <div>
        <div class="resume-header">
            <h1 class="resume-title">@Resources.EducationView.Title</h1>
            <p class="lead resume-description">@Resources.EducationView.Description</p>
        </div>

        <table border="0" class="resume-text">
            <tr>
                <td><b>@Model.GetEducationRange()</b></td>
                <td><b>@Model.University</b></td>
            </tr>
            <tr>
                <td colspan="2"><p>@Model.Diplom</p></td>
            </tr>
        </table>
        @if (Model.IsShouldOneginShow)
        {
        <table border="0" class="resume-text">
            <tr>
                <td width="70%"></td>
                <td width="30%">
                    <blockquote class="resume-code">
                        <p>
                            Мы все учились понемногу,<br />
                            Чему-нибудь и как-нибудь <br />
                            Так воспитаньем, слава богу,<br />
                            У нас немудрено блеснуть.<br />
                        </p>
                        <br />
                        <small class="right">
                            Из романа в стихах «Евгений Онегин»<br />
                            А. С. Пушкина
                        </small>
                    </blockquote>
                </td>
            </tr>
        </table>
        }
    </div>
</div>

