@model MySkills.Models.Resume

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
        <title>@Model.Contacts.FullName</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/Content/ResumeStyles.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="50">
    @Html.Partial("NavBarView", @Model.NavBar)

    <div id="ContactsSection" class="container-fluid">
        @Html.Partial("ContactsView", @Model.Contacts)
    </div>
    <div id="TargetSection" class="container-fluid">
        @Html.Partial("TargetDescriptionView", Model.Target)
    </div>
    <div id="EducationSection" class="container-fluid">
        @Html.Partial("EducationView", Model.Education)
    </div>
    <div id="StagesSection" class="container-fluid">
        @Html.Partial("StagesView", Model.Stages)
    </div>
    <div id="SkillsAndAbilitiesSection" class="container-fluid">
        @Html.Partial("SkillsAndAbilitiesView", Model.SkillsAndAbilities)
    </div>
    <div id="AboutMeSection" class="container-fluid">
        @Html.Partial("AboutMeView", @Model.AboutMe)
    </div>

    <!-- Default Statcounter code for Home page https://www.kosolapov.info -->
    <script type="text/javascript">
        var sc_project = 11777910;
        var sc_invisible = 1;
        var sc_security = "0c0e0f0d";
    </script>
    <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript>
        <div class="statcounter">
            <a title="Web Analytics" href="http://statcounter.com/" target="_blank">
                <img class="statcounter" src="//c.statcounter.com/11777910/0/0c0e0f0d/1/" alt="WebAnalytics">
            </a>
        </div>
    </noscript>
    <!-- End of Statcounter Code -->

</body>
</html>
