@model MySkills.Models.Stages

<div class="container theme-showcase" role="main">
    <div>
        <div class="resume-header">
            <h1 class="resume-title">ОПЫТ РАБОТЫ</h1>
            <p class="lead resume-description">Это перечень предприятий в которых я работал:</p>
        </div>

        <table border="0" class="resume-text">
            @foreach (var stageOfWork in @Model.StagesOfWork)
            {
            <tr>
                <td><b>@stageOfWork.GetWorkRange()</b></td>
                <td><b>@stageOfWork.Firm.Name</b></td>
            </tr>
            <tr>
                <td colspan="2">@foreach (var profession in @stageOfWork.Professions)
                {
                    <p><b>@profession.ProfessionName</b></p>
                    if (profession.Jobs.Any())
                    {
                        foreach (var job in profession.Jobs)
                        {
                            <p><small>@string.Format("\t{0};", job.Title)</small></p>
                        }
                    }
                }
                </td>
            </tr>
            }
        </table>
    </div>
</div>
